<h1> All Posts </h2>
<!-- <a href="/posts/new"> Add New Post</a> -->
<%= link_to "Add New Post", new_post_path %>
<!-- <a href="/comments/new">Add New Comment</a> -->

<ul>
  <% @posts.each do |post| %>
<li>
  <%= link_to post.title, post_path(post) %>
 </a>
 </li>
  <% end %>
</ul>
